.Item {
    background-color: seashell;
    color: blueviolet;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(193, 212, 14);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}